#legal_mentions{
  text-align: left !important;
  padding: 10% 0;
  h1{
    font-size: 3em;
    margin-bottom: 5%;
    padding-left: 4%;
  }
  img{
    width: 50%;
  }
  .legal_mention_article{
    padding: 4%;
  }
}
