<div class="footer p-5">
    <div class="container">
        <div class="nav_footer">
          <h3>Plan du site</h3>
          <ul>
            <li><a href="#nos-solutions">Nos solutions</a></li>
            <li><a href="#nos-engagements">Nos engagements</a></li>
            <li><a href="#a-propos">À propos</a></li>
            <li><a href="#nos-technologies">Nos technologies</a></li>
            <li><a href="#nous-contacter">Nous contacter</a></li>
            <li><%= link_to 'Mentions légales', '/legal_mentions.html' %></li>
          </ul>
        </div>
        <div class="row">
            <div class="col">
                <h3>A propos</h3>
                <p>
                    Creative Coders - Monsieur laury Lecaut<br>
                    Siret 911 388 858 000 19<br>
                    Le TVA intracommunautaire FR 38 911 388 858<br>
                    Le code NAF, 6201Z
                </p>
            </div>
            <div class="col">
                <h3>Contact</h3>
                <p>Laury Lecaut</p>
                <a class="p-3" href="tel:+33672265043">(+33)672265043</a>
                <a href="mailto:laury@creative-coders.fr">laury@creative-coders.fr</a>
                <p class="pt-1">774, rue Marcel Sembat. 59690 Vieux Conde</p>
            </div>
            <div class="mt-4 pt-3">
                <p class="pt-3">Site réalisé par Laury Lecaut - Hébergé chez Netlify</p>
            </div>
        </div>
    </div>
</div>
