---
title: Creative Coders
---
<div class="header">
  <h1 id="first-title">Creative</h1>
  <h1 id="second-title">coders</h1>
  <p id="subtitle">Créateur de solutions web</p>

  <a href="#nos-solutions">
    <div class="arrow-link">
      <img src="../images/svg/down.svg" alt="arrow-logo">
    </div>
  </a>
</div>

<div class='container'>
  <div class="our-solutions mt-3" id="nos-solutions">
    <div class="row">
      <h2 id="nos-solutions">Des solutions adaptées à vos besoins</h2>
      <div class="col-md">

        <p>
          Créative coders est une entreprise de création de site web, ayant pour
          objectifs d'accompagner les entreprises dans leur développement
          numérique.
          Nos créations sont réalisés sur-mesures en fonction à vos besoins. Tous nos produits
          sont parfaitement adaptables sur ordinateur, tablette et mobile.
          Créative coders met un point d’honneur à fournir des produits
          spécifiques et correspondant à chaque entreprise passant par nos
          services.
        </p>
      </div>
      <div class="col-md images-solutions">
        <img class="responsive-image" src="../images/responsive-img.png" alt="image responsive">
      </div>

    </div>
  </div>

  <h2 id="nos-engagements">Nos engagements</h2>

  <div class="card-product p-1 mt-4 mb-4">
    <img class="d-none d-lg-block" src="../images/svg/click.svg" alt="logo click"/>
    <div class="card-product-infos">
      <h2 class='card-title'>Conception web</h2>
      <p>
        Que ce soit un projet de conception de sites vitrines, de sites e-commerces ou d'applications webs,
        Creative Coders s'adaptera à vos besoins spécifiques. De la création de sites from scratch ou
        de l'amélioration de votre site actuel, pour connaître nos solutions à vos projets <a href='#nous-contacter'>contactez-nous.</a>
      </p>
    </div>
  </div>
  <div class="d-flex flex-row-reverse">
    <div class="card-product p-1 m-3">
      <div class="card-product-infos" id="reverse-card">
        <h2 class='card-title'>Nom de domaine et hébergement</h2>
        <p>
          Creative Coders s'occupe des démarches d'acquisition du nom de domaine de votre société.<br/>
          Pour ce qui s'agit de l'hébergement de votre site, Creative Coders s'occupe également d'effectuer toutes les démarches pour vous.
          Dans une optique de toujours respecter votre liberté, la propriété et la gestion de l'hébergement restent toujours sous votre contrôle.

        </p>
      </div>
      <img class="d-none d-lg-block" id="img-reverse" src="../images/svg/www.svg" alt="logo www"/>
    </div>
  </div>
  <div class="card-product p-1 m-3">
    <img class="d-none d-lg-block" src="../images/svg/good.svg" alt="logo good"/>
    <div class="card-product-infos">
      <h2 class='card-title'>Charte graphique</h2>
      <p>
        Une charte graphique personnalisée, correspondant à votre sensibilité et à l'image que vous souhaitez renvoyer de votre entreprise, est réalisée pour chaque projet.
        La proposition de logo et l'établissement d'une maquette en amont du développement de votre site, vous permet de toujours avoir une vision concrète de votre projet
        et de permettre d'avoir un résultat final au plus proche de vos envies.
      </p>
    </div>
  </div>
  <div class="d-flex flex-row-reverse">
    <div class="card-product p-1 m-3">
      <div class="card-product-infos" id="reverse-card">
        <h2 class='card-title'>Maintenance et formation</h2>
        <p>
          Creative coders fournit toujours une formation à ses clients une fois le projet terminé, permettant une prise en main rapide.<br/>
          La réalisation de maintenance sur vos sites est également possible, que ce soit sur des projets que nous avons nous-même réalisés, ou sur des projets
          correspondant à <a href="#nos-technologies">nos téchnologies</a>. Si vous souhaitez connaitre nos tarifs sur une possible maintenance, <a href='#nous-contacter'>contactez-nous.</a>

        </p>
      </div>
      <img class="d-none d-lg-block" id="img-reverse" src="../images/svg/maintenance.svg" alt="logo maintenance"/>
    </div>
  </div>

  <div class="Who-we-are" id="a-propos">
    <h2>À propos</h2>
    <div class="row">
        <div class="col-sm-12 col-md p-3 m-2 size-content">
            <h3 class="p-2">Qui suis-je?</h3>
            <p>
                Je suis Laury Lecaut. Issu d'une formation juridique à la base,
                je dispose d'une maîtrise en droit des affaires. Je me suis reconverti en tant que développeur.
                Après ma formation, j'ai travaillé en entreprise en tant que développeur Ruby-on-Rails.
                J'ai fondé Créative Coders pour me permettre de continuer à mettre mes compétences au service des entreprises.
            </p>
        </div>
        <div class="col-sm-12 col-md p-3 m-2 size-content">
            <h3 class="p-2">Pourquoi Créative Coders?</h3>
            <p>
                Je réalise des projets de développement web, que ce soit sur des projets de sites vitrines,
                des sites e-commerce, ou des projets spécifiques à vos besoins.
                Si vous souhaitez travailler avec une personne passionnée, qui aime sincérement ce qu'elle fait,
                <a href="#nous-contacter">contactez-moi</a>.
            </p>
        </div>
    </div>
  </div>

  <div class="our-technos mt-3" id="nos-technologies">
    <h2>Les technologies utilisées</h2>
    <div class="row">
      <div class="col-sm-12 col-md p-3 m-3 size-content">
        <h3>HTML</h3>
        <img src="../images/tech_logo/html.png" alt="html">
      </div>
      <div class="col-sm-12 col-md p-3 m-3 size-content">
        <h3>CSS</h3>
        <img src="../images/tech_logo/css.png" alt="css">
      </div>
      <div class="col-sm-12 col-md p-3 m-3 size-content">
        <h3>JavaScript</h3>
        <img src="../images/tech_logo/javascript.png" alt="javascript">
      </div>
      <div class="col-sm-12 col-md p-3 m-3 size-content">
        <h3>Ruby</h3>
        <img src="../images/tech_logo/ruby.png" alt="ruby">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md p-2 m-3 size-content">
        <h3>PostgreSQL</h3>
        <img src="../images/tech_logo/postgresql.png" alt="PostgreSQL">
      </div>
      <div class="col-sm-12 col-md p-2 m-3 size-content">
        <h3>Redis</h3>
        <img src="../images/tech_logo/redis.png" alt="redis">
      </div>
      <div class="col-sm-12 col-md p-3 m-3 size-content">
        <h3>Ruby on Rails</h3>
        <img src="../images/tech_logo/rails.png" alt="rails">
      </div>
      <div class="col-sm-12 col-md p-2 m-3 size-content">
        <h3>VueJS</h3>
        <img src="../images/tech_logo/vuejs.png" alt="VueJS">
      </div>
    </div>
  </div>

  <div class="contact-us mt-3 mb-3 mb-3 pb-3" id="nous-contacter">
    <h2>Nous contacter</h2>
    <div class="phone p-4">
      <img src="../images/svg/phone.svg" alt="phone-logo">
      <p>Telephone:</p>
      <a class="p-3" href="tel:+33672265043">(+33)672265043</a>
    </div>
    <div class="email p-4">
      <img src="../images/svg/email.png" alt="email-logo">
      <p>E-mail:</p>
      <a href="mailto:laury@creative-coders.fr">laury@creative-coders.fr</a>
    </div>
  </div>
</div>
