---
title: legal_mentions
layout: layout
---

<div class="container" id="legal_mentions">
    <h1>Mentions légales</h1>
  <div class="row">
    <div class="col">
      <div class="legal_mention_article">
        <h3>article 1: identification de l'entreprise</h3>
        <p>
          Laury Lecaut est une micro-entreprise, 774 rue Marcel Sembat, 59690 Vieux-Conde. <br/>
          Siret: 911 388 858 000 19. N° TVA: FR 389 113 888 58 <br/>
          Contact:
          <a class="p-3" href="tel:+33672265043">(+33)672265043</a>
          <a href="mailto:laury@creative-coders.fr">laury@creative-coders.fr</a>
        </p>
      </div>
      <div class="legal_mention_article">
        <h3>article 2: traitement des données personnelles</h3>
        <p>
          Ce site utilise des cookies dans le but d'obtenir des informations sur les visites grâce à Google Analytics.
          Ces données ne sont pas sauvegardées et ne sont utilisées d'aucune autre manière.
          En dehors des données utilisées pour Google Analytics, nous ne recensons ou stockons aucune autre donnée.
          En restant sur le site vous acceptez que nous utilisons ces données dans l'unique objectif de vérifier le trafic sur le site.<br>
          Le destinataire de ces données est Mr Laury Lecaut (laury@creative-coders.fr, 06 72 26 50 43), administrateur du site
          et seule personne habilitée à les consulter. Les données sont conservées par Google Analytics pour une durée de 26 mois.
        </p>
      </div>
      <div class="legal_mention_article">
        <h3> article 3: Images et illustration</h3>
        <p>Les images et illustrations sont toutes libres de droit. L'image de d'entête a été trouvée sur le site<a href="https://unsplash.com/" target="_blank">
          unsplash</a> auquel il a été incrusté le logo de l'entreprise.</p>
      </div>
      <div class="legal_mention_article">
        <h3> article 4: Hébergement du site.</h3>
        <p>Netlify <br>
          610 22nd Street, Suite 315, <br>
          San Francisco, CA 94107 Site web : <a href="https://www.netlify.com" target="_blank">https://www.netlify.com</a></p>
      </div>
    </div>
    <div class="col">
      <img class='mx-auto d-block' src="../images/logo.png" alt="Logo creative coders">
    </div>
  </div>
</div>
